@font-face {
    font-family: Gotham;
    src: url("media/bjorn_halftone-webfont.ttf");
    }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Gotham';
}
body{
	background-image: url(media/images/whitebackground.jpg);
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Gotham';
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
	margin-top: 30px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.button a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #0057ff;
    color: #0057ff;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.content{
	position: relative;
}
.navbar{
	width: 100%;
	height: 65px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #444444;
	z-index: 1;
}
.navbar2{
	display: none;
}
.logo a p{
	font-family: 'Gotham';
	font-size: 32px;
	color: #0057ff;
	text-shadow: 1px 1px 1px white;
}

.navbarItems ul{
	display: flex;
}

.navbarItems ul li{
	margin: 0 10px;
}

.navbarItems ul li a{
	text-transform: uppercase;
	color: #fff;
}
.serviceTitle,
.services,
.contactPage,
.websites{
	text-align: center;
	padding: 5% 10%;
	background-image: url(media/images/whitebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services{
	background-image: url(media/images/whitebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicesIndividual {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.servicesIndividual .servicesIndividualService {
    width: 30%;
}

.servicesIndividual .servicesIndividualService img {
    width: 100%;
	margin-bottom: 25px;
	box-shadow: 6px 6px 19px 0px;
}

.servicesIndividual .servicesIndividualService h3 {
    color: #0057ff;
    margin-bottom: 15px;
}
.wrapper .inputType{
	margin-bottom: 15px;
}

.wrapper .inputType input[type="text"],.wrapper .inputType input[type="email"],.wrapper .inputType input[type="number"] ,.wrapper .inputType select,.wrapper .inputType input[type="submit"]{
	width: 250px;
	padding: 12px 20px; 
	border: 1px solid #ccc;
}

.wrapper .inputType textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid  #ccc;
}

.websitesWrapper{
	display: flex;
	flex-direction: column;
}

.websitesWrapper .web{
	display: flex;
	justify-content: space-between;
}

.websitesWrapper .webRow.web{
	margin-bottom: 25px;
}

.websitesWrapper .webCol{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.websitesWrapper .webCol img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
	box-shadow: 6px 6px 19px 0px #0057ff70;
}
.websitesWrapper .webCol a h3 {
    color: #0057ff;
}
.websitesWrapper .webCol:hover img{
	transform: scale(1.1);
}
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}
.footerContact{
	width: 100%;
    text-align: center;
    background: #444444;
    padding: 20px 0;
    bottom: 0px;
    position: fixed;
}
.footer a, .footerContact a	{
	color: #fff;
}



@media (max-width: 720px){

	.navbar{
		display: none;
	}

	.navbar2{
		width: 100%;
		height: 65px;
		position: fixed;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #444444;
		z-index: 1;
	}
	.logo{
		margin-bottom: 25px;
	}

	.navbarItems ul{
		flex-direction: column;
		text-align: center;
	}

	.navbarItems ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}
.serviceTitle p u b {
    color: #2b5fa8;
    text-decoration: underline;
}
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #0057ff;
	border-radius: 50%;
	display: block;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
	margin-top: -10px;
}
audio{
    box-shadow: rgb(51,51,51) 8px 8px 15px;
    float: left;
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 230px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #0057ff;
    border-radius: 18px;
	display: block;
	z-index: 8;
}
video#myVideo {
    width: 100%;
}
.logos {
    display: inline-block;
    padding: 0px 10px;
	margin-bottom: 20px;
	vertical-align: middle;
}
.logos img {
    width: 100px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
.tableDiv {
	text-align: center;
	background-image: url(media/images/whitebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.tableDiv h2 {
    color: blue;
    background-image: url(media/images/whitebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 20px;

}
#priceTable {
	border-collapse: collapse;
  width: 100%;
}
td.noService {
    background-color: #ffffff !important;
}
#priceTable td, #priceTable th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #e6ffe6;
}

#priceTable tr:nth-child(even){
  background-color: #f2f2f2;
}

#priceTable tr:hover {
  background-color: #d5d5d559;
}

#priceTable th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #0057ff;
color: white;
letter-spacing: 2px;
font-size: 14px;
}
#errorName, #errorNumber, #errorService, #errorEmail{
	display: none;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
	padding-top: 50px;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }